*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*HeaderStart*/
.top-container{
    width: 100vw;
    height: auto;
    background-image:linear-gradient(to right,rgba(0,0,0,0.4),transparent,rgba(0,0,0,0.4)),url("../Images/photo-1566410845311-1201aefbee6a.jpg");
    background-size: cover;
}
.top-container .logo img{
    width: 8vw;
    height: auto;
    margin:10px 0px 0px 10px;
    border-radius:20%;
    box-shadow: 0 6px 6px -2px #000;
    cursor:pointer;
}
.closebtn{
    display: none;
    font-size: 30px;
    color:#fff;
    position: relative;
    margin-right: 85%;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
}
nav{
    flex:1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
    text-shadow: 0 2px 5px black;
}
nav ul li a:hover{
    color:#d6d1d1;
}
.menu-logo{
    font-size: 2rem;
    color:#fff;
    margin-right: 2%;
    line-height: 2px;
    display: none;
    cursor: pointer;
}
.heading h1{
    color: white;
    font-size: 70px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 16px;
    text-shadow:2px 2px 2px black,-1.5px -1.5px 2px black,3px 3px 7px yellow,-2px -2px 5px yellow;
}
.heading h1:hover{
    text-shadow:2px 2px 2px black,-1.5px -1.5px 2px black,3px 3px 10px yellow,-2px -2px 7px yellow;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
    margin-bottom: 100px;
}
.col-1{
    margin-top: -10px;
    flex-basis: 50%;
    position: relative;
    margin-left: 50px;
    background-color: rgba(0,0,0,0.3);
    padding:15px;
}
.col-1 h1{
    color:#fff;
    font-size: 40px;
    text-shadow:2px 2px 3px black;
    margin-bottom: 20px;
}
.col-1 p{
    color:rgb(248, 242, 242);
    font-size: 18px;
    text-shadow:3px 3px 5px black;
}
.col-1 button{
    width: 121px;
    margin-top: 25px;
    padding: 12px 0;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight:bold;
    background:linear-gradient(120deg,#fff 50%,#e6e0e0 50%);
    border: 0;
    border-radius: 20px;
    outline: none;
    letter-spacing: 1px;
    margin-left: 10px;
    height: 40px;
    transition: transform 0.1s ease-in-out;
    border-right: 3px solid #ddd4d4;
    border-bottom: 3px solid #ddd4d4;
    box-shadow: 0 4px 5px -1px black;
}
.col-1 button:hover{
    opacity: 0.9;
}
.col-2{
    flex-basis: 40%;
}
.card{
    display: inline-block;
    height:180px;
    width:180px;
    background-size: cover;
    border-radius: 20%;
    border: none;
    margin-left:30px;
    margin-top: 25px;
    box-shadow: 2px 2px 7px black,-2px -2px 7px black;
    transition: transform 0.5s;
}
.card:hover{
    transform: translateY(-3px);
}
#img1{
    background: url('../Images/images.jpg');
    background-size: cover;
}
#img2{
    background: url('../Images/images (1).jpg');
    background-size: cover;
}
#img3{
    background: url('../Images/images (2).jpg');
    background-size: cover;
}
#img4{
    background: url('../Images/download.jpg');
    background-size: cover;
}
@media screen and (max-width:339px) {
    /* .top-container{
        height: 120vh;
    } */
    .top-container .logo img{
        width: 13vw;
    }
    .menu-logo{
        display: block;
    }
    .closebtn{
        display: block;
    }
    nav ul{
        width: 50vw;
        height:auto;
        background-color: rgba(0,0,0,0.9);
        position: absolute;
        top:1px;
        right:0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
     
    nav ul li a{
        color:#fff;
        display: block;
    }
     
    nav ul li a:hover{
        color:#d6d1d1;
    }
    #menu-list{
        overflow-y:auto;
        height: auto;
        transition:0.3s;
    }
    .heading h1{
        font-size: 30px;
    }
    .row{
        flex-direction: column-reverse;
        margin:50px 0;
    }
    .col-1{
        flex-basis: 100%;
        margin:15px;
    }
    .col-1 h1{
        text-align: center;
        font-size: 25px;
    }
    .col-1 p{
        text-align: center;
    }
    .col-1 button{
        width: 100px;
        font-size: 12px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .col-2{
        flex-basis: 100%;
    }
    .card{
        height:50px;
        width: 50px;
        margin:0 1px 0 1px;
        text-align: center;
    }
}
@media screen and (min-width:340px) and (max-width:768px) {
    /* .top-container{
        height: 120vh;
    } */
    .top-container .logo img{
        width: 13vw;
    }
    .menu-logo{
        display: block;
    }
    .closebtn{
        display: block;
    }
    nav ul{
        width:50vw;
        height:auto;
        background-color: rgba(0,0,0,0.9);
        position: absolute;
        top:10px;
        right:0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    nav ul li a{
        color:#fff;
        display: block;
    }
    nav ul li a:hover{
        color:#d6d1d1;
    }
    #menu-list{
        overflow-y:auto;
        height: auto;
        transition:0.3s;
    }
    .heading h1{
        font-size: 40px;
    }
    .row{
        flex-direction: column-reverse;
        margin:50px 0;
    }
    .col-1{
        flex-basis: 100%;
        margin:15px;
    }
    .col-1 h1{
        text-align: center;
        font-size: 30px;
    }
    .col-1 p{
        text-align: center;
    }
    .col-1 button{
        width: 100px;
        font-size: 12px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .col-2{
        flex-basis: 100%;
    }
    .card{
        height:80px;
        width: 80px;
        margin:0px 1px 0px 1px;
        text-align: center;
    }
}
@media screen and (min-width:769px) and (max-width:1060px) {
    /* .top-container{
        height: 120vh;
    } */
    .top-container .logo img{
        width: 11vw;
    }
    .menu-logo{
        display: block;
        font-size: 3rem;
    }
    .closebtn{
        display: block;
        font-size: 40px;
    }
    nav ul{
        width: 40vw;
        height:auto;
        background-color: rgba(0,0,0,0.9);
        position: absolute;
        top:25px;
        right:0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:#fff;
        display: block;
        font-size: 25px;
    }
    
    nav ul li a:hover{
        color:#d6d1d1;
    }
    #menu-list{
        overflow-y:auto;
        height: auto;
        transition:0.3s;
    }
    .row{
        flex-direction: column-reverse;
        margin:50px 0;
    }
    .col-1{
        flex-basis: 100%;
        margin:15px;
    }
    .col-1 h1{
        text-align: center;
        font-size: 35px;
    }
    .col-1 p{
        text-align: center;
    }
    .col-1 button{
        width: 120px;
        font-size: 15px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .col-2{
        flex-basis: 100%;
    }
    .card{
        height:120px;
        width: 120px;
        margin:3px 1px 3px 1px;
        text-align: center;
    }
}
    /* landing page end */

   /* <!-- WHY A BLOOD SHORTAGE? --> start*/
section{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom:3rem;
    line-height: 24px;
}
.extraadd{
    margin-top: 50px;
}
.extraadd h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 50px;
}
.extraadd p{
    text-align: center;
    letter-spacing: 1px;
}
    
    @media screen and (max-width:339px) {
        section{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom:3rem;
    line-height: 24px;
}
.extraadd{
    margin-top: 50px;
}
    }

    @media screen and (min-width:769px) and (max-width:1060px) {
        section{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom:3rem;
    line-height: 24px;
}
.extraadd{
    margin-top: 50px;
}
.extraadd h1{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 50px;
}
.extraadd p{
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
}
    }

    @media screen and (min-width:340px) and (max-width:768px){
        section{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom:3rem;
    line-height: 24px;
}
.extraadd{
    margin-top: 50px;
}
.extraadd h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 50px;
}
.extraadd p{
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
}
    }
/* extra add images */
.extraadd-allimg {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
        margin-left: 5px;
    margin-right: 5px;
    /* margin-left: 8rem; */
}
.extra-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 5rem;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    transition: transform 0.5s;
}
.extra-img img:hover{
    transform: translateY(-5px);

}
.paragraph2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 6rem;
    line-height: 25px;

}
/* slider */
.slideshow{
    width: auto;
    height: 100%;
    margin-bottom: 5%;
    background-color: rgba(252, 226, 178,0.5);
    padding-top:20px;
}
.galleryheading{
   display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    transform: translateX(-5%);
}
.galleryheading::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 90px;
    transform: translateX(0%);
    background: red;
    border-radius: 100px;
    top: 150%;
}
.decotration {
    height: 32rem;
    width: auto;
    margin-left: 10px;
    margin-right: 30px;
    border-right: 1px dashed black;
}
.abouteading{
    margin-bottom: 15px;
}
.paragraph3{
    text-align: center;
}
.slidersubmit{
    width: 121px;
    margin-top: 5px;
    padding: 12px 0;
    color: white;
    background: black;
    border: 0;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-left: 10px;
    height: 40px;
    transition: transform 0.5s ease-in-out;
    
}
.slidersubmit:hover{
    background: white;
    color: black;
    border: 1px solid black;
    transform: translateX(2px);
}

.movingsllider{
   background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('../Images/photo-1566410845311-1201aefbee6a.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin-bottom: 40px;
    margin-top: 40px;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition:1s ;
}

.slide img{
   
  height: 500px;
    width: 801px;
}

    /* css for manual button */

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -42px;
    display:flex;
    justify-content: center;
    padding: 5px;


}

.manual-btn{
    border: 2px solid red;
    padding: 5px;
    border-radius: 50% ;
    cursor: pointer;
   display: none;

}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: red;
}
#radio1:checked~ .first{      /* ektar basis ee kaki sob gulor margin-left korlei hobe */
    margin-left: 0%; 
}
#radio2:checked~ .second{
    margin-left: -20%;
}
#radio3:checked~ .first{
    margin-left: -40%;
}
#radio4:checked~ .first{
    margin-left: -60%;
}

/*  css for automatically navigation*/
.navigation-auto{
    position: absolute;
    width: 810px;
    display: flex;
    justify-content: center;
    margin-top: 463px;

}
.navigation-auto div{
    display:none;
    padding: 5px;
    border: 2px solid red;
    border-radius: 50%;
    

}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked~.navigation-auto .auto-btn1{
    background: red;
}
#radio2:checked~.navigation-auto .auto-btn2{
    background: red;
}
#radio3:checked~.navigation-auto .auto-btn3{
    background: red;
}
#radio4:checked~.navigation-auto .auto-btn4{
    background: red;
}


/* ABOUT */
 .aboutheading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
 }
 .aboutheading::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 90px;
    transform: translateX(0%);
    background: red;
    border-radius: 100px;
    top: 287%;
 }
 .photo{
   margin-left: 2rem;
    
    
 }
 .photo img{
    width: 90%;
    height: 400px;
    /* margin-left: 6rem; */
    border-radius: 40px;
 }

 #id .col{
    flex-basis: 48%;
 }
 #row{
    height: 61%;
    display: flex;
    align-items: center;
    margin-bottom: 7%;  
 }
 .abouteading{
    margin-left: -25px;
 }
 .col.describe {
    height: 25rem;
    border-left: 1px dashed black;
}
.aboutheading {
    
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 2px;
    /* border-left: 1px solid black; */
    margin-left: 10px;
}
.paragraph4{
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 50px
}
.aboutsubmit{
   width: 121px;
    margin-top: 15px;
    padding: 12px 0;
    color: white;
    background: black;
    border: 0;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-left: 40px;
    height: 40px;
    transition: transform 0.5s ease-in-out;
}
.aboutsubmit:hover{
    background: white;
    color: black;
    border: 1px solid black;
    transform: translateX(2px);
}
/*Galary Start*/
   
    .galary{
        padding-top:15px;
        padding-bottom:50px;
        background-color: rgba(252, 208, 127, 0.3);
        margin-top:50px;
    }
    .galaryHeading{
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 70px;    
    }
    .galaryHeading h1{
        border-bottom: 5px solid red;
    }
    /* Slideshow container */
    .slideshow-container {
        max-width: 500px;
        position: relative;
        margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides {
        display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
        background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        animation-name: fade;
        animation-duration: 2s;
    }
    
    @-webkit-keyframes fade {
        from {opacity: .5}
        to {opacity: 1}
    }
    
    @keyframes fade {
        from {opacity: .5}
        to {opacity: 1}
    }
/*Galary End*/
/*About us start*/
.aboutUs{
    padding-top:15px;
    margin-top: 50px;
    padding-bottom:100px;
}
.aboutUsHeading{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    
}
.aboutUsHeading h1{
    border-bottom: 5px solid red;
}
.aboutUsBody{
    display: flex;
    
}
.aboutImage img{
    height: 400px;
    width: 650px;
}
.aboutInfo,.aboutImage{
   
    margin-top: 90px;
}
.aboutInfo h1{
    font-size:40px;
    padding-bottom:20px;
    color:black;
}
.aboutInfo{
    margin-left:100px;
    margin-right: 50px;
    font-size:17px;
    color:rgb(87, 72, 72);
}
/*About us end*/
/*Contact us start*/
.contactUs{
    background-image:linear-gradient(rgba(194, 184, 184,0.4), rgba(228, 220, 220, 0.4),rgba(194, 184, 184,0.4));
    padding-top:15px;
    padding-bottom:20px;
    margin-top: 50px;
}
.contactUsHeading{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    padding-top:10px;
}
.contactUsHeading h1{
    border-bottom: 5px solid red;
}
.contactUsBody{
    display: flex;
    
}
.contactInfo,.contactQuery{
   
    margin-top: 100px;
    font-size: 20px;
}
.contactInfo{
    margin-left: 350px;
}
.contactQuery{
    margin-left: 250px;
}
.contactQuery input[type="text"]{
    padding:5px;
    width:220px;
    font-size:15px;
    border-radius: 15px;
}

.contactQuery label{
    font-weight: bold;
}
.contactQuery input[type="submit"]{
    padding:7px;
    border-radius:15px;
    background-color: white;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    box-shadow: 2px 2px 5px gray,-1px -1px 1px gray;
    margin-left:170px;
    font-size:15px;
    transition: transform 0.5s;
}
.contactQuery input[type="submit"]:hover{
    transform: translateX(2px);
}
/*Contact us end*/
#icon-phone{
    font-size: 300px;
    color: green;
    transition: transform 0.5s;
}
#icon-email{
   font-size: 300px;
    color: red;
    transition: transform 0.5s;
}
#icon-email:hover{
    transform: translateY(-10px);
}
#icon-phone:hover{
    transform: translateY(-10px);
}

.border-box{
       box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    text-align: center;
    /* padding: 25px; */
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 15px;
    margin-left: 25px;
    transition: transform 0.5s;
}
.border-box:hover{
    transform: translateY(-5px);
}
.contact-us-row{
    width: auto;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    font-size: 50px;
        margin-top: 15px
}
/* .contact::after{
  content: "";
    position: absolute;
    height: 4px;
    width: 100px;
    transform: translateX(0%);
    background: red;
    border-radius: 100px;
    top: 381%;
    transform: translate(-125%);
} */
.phone{
  height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.email{
     height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
/* footer */

 .footer{
        background: black;
        color: white;
        /*margin-top:80px ;*/
        padding: 60px 0 20px;
    }
    .footer-col-2 img{
            height: 10vh;
            border-radius: 20%;
            margin-bottom: 20px;
            

    }
    .sizesetting{
        display: flex;
        justify-content: center;
        align-items:center ;
    }
    .footer-col-1 p{
        color:#8a8a8a;
    }
   .footer-col-2 p{
        color:#8a8a8a;
    }
     .footer-col-1, .footer-col-2, .footer-col-3 , .footer-col-4{
        flex-basis: 25%;
        text-align: center;
      }
       .footer-col-3 li{

        color:#8a8a8a;
      }
       .footer-col-4 li{
        color:#8a8a8a;
      }

    .footer-col-3 h3{
        margin-bottom:15px ;
        font-size: 20px;
}
   .footer-col-4 h3{
        margin-bottom:15px ;
        font-size: 23px;
}

     ul{
        list-style-type: none;
     }
     .app-logo img{
        margin-top: 23px;
    height: 10vh;
    padding: 12px;
    border-radius: 50px;

     }
     #new-footer-img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
     }
     .copyright{
        color: white;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
     }
   .footer hr{
    color: #b5b5b5;
    margin: 10px 80px;
   }
   .logo img{
    border-radius: 27px;
   }
   .menu{
        margin-left: 15px;
        cursor: pointer;
        display: none;
   }
#face{
    color: blue;
    margin-right: 10px;

}
#wp{
    color: green;
    margin-right: 10px;
}
#insta{
    color: red;
    margin-right: 10px;
}
#tele{
    color: cyan;
    margin-right: 10px;
}
#twite{
    color: blue;
    margin-right: 10px;
}
#last-col{
    margin-right: 10px;
}
/* down to up */

html{
scroll-behavior: smooth;
}
.top-top{
    background: white;
    position: fixed;
    bottom: 16px;
    right: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: red;
    opacity:0;
    pointer-events: none;
    transition:all 0.4s;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.top-top.active{
    opacity:1;
    pointer-events: auto;


}
#blood-icon{
    color: red;
}
/*Responsive Start*/
@media screen {
    
}
/*Responsive End*/